<section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="features-list">
        <h4>Features</h4>
        <p>Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.</p>
    </div>

    <div class="features-list">
        <h4>Features</h4>
        <p>Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.</p>
    </div>

    <div class="features-list">
        <h4>Features</h4>
        <p>Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.</p>
    </div>

    <div class="features-list">
        <h4>Features</h4>
        <p>Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.</p>
    </div>

    <div class="mdl-cell mdl-cell--12-col-desktop center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <a href="#" class="mdl-typography--font-regular"> Get Started </a>
        </button>
    </div>
</section>