<section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="features-list">
        <h4><%- feature1.name %></h4>
        <p><%- feature1.text %></p>
    </div>

    <div class="mdl-cell mdl-cell--12-col-desktop center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <a href="#" class="mdl-typography--font-regular"><%- CTA %></a>
        </button>
    </div>
</section>