<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- Nav -->
    <%- partial("_partials/nav", {
        name: 'NAME',
        logoWithText: '../images/angular-logo-with-text.svg',
        CTA: {
            text: 'Get Started',
            url: '#'
        },
        pages: [],
        homeHref: 'index.html'
    }) %>

    <main class="mdl-layout__content">
        <!-- Hero -->
        <%- partial("_partials/hero", {
            name: 'NAME',
            logo: {
                src: '',
                alt: ''
            },
            tagline: '',
            CTA: {
                text: 'Get Started',
                url: '#'
            }
        }) %>

        <!-- Add as many features as needed -->
        <%- partial("_partials/features", {
            features: [{
                name: 'Feature 1',
                text: 'Feature 1 description.'
            }],
            CTA: {
                text: 'Get Started',
                url: 'http://angular.github.io/protractor/#/'
            }
        }) %>

        <!-- Footer -->
        <%- partial("_partials/footer", {
            footerImg: '../images/angular-logo.svg'
        }) %>
    </main>
</div>
