<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- partial("_nav") %>

    <main class="mdl-layout__content">
        <%- partial("_hero") %>

        <%- partial("_features") %>

        <div class="mdl-layout__header-row"></div>

        <%- partial("_footer") %>
    </main>
</div>
