// Margin
//
// These are the core margin sizes
// ----------------------------------------------------------------------

@import "../variables";
@import "../mixins";

// Margin Sizes
// -------------------------------------

.m0  { margin: $m0; }
.mt0 { margin-top: $m0; }
.mr0 { margin-right: $m0; }
.mb0 { margin-bottom: $m0; }
.ml0 { margin-left: $m0; }
.mx0 { margin-left: $m0; margin-right: $m0; }
.my0 { margin-top: $m0; margin-bottom: $m0; }

.m1  { margin: $m1; }
.mt1 { margin-top: $m1; }
.mr1 { margin-right: $m1; }
.mb1 { margin-bottom: $m1; }
.ml1 { margin-left: $m1; }
.mx1 { margin-left: $m1; margin-right: $m1; }
.my1 { margin-top: $m1; margin-bottom: $m1; }

.m2  { margin: $m2; }
.mt2 { margin-top: $m2; }
.mr2 { margin-right: $m2; }
.mb2 { margin-bottom: $m2; }
.ml2 { margin-left: $m2; }
.mx2 { margin-left: $m2; margin-right: $m2; }
.my2 { margin-top: $m2; margin-bottom: $m2; }

.m3  { margin: $m3; }
.mt3 { margin-top: $m3; }
.mr3 { margin-right: $m3; }
.mb3 { margin-bottom: $m3; }
.ml3 { margin-left: $m3; }
.mx3 { margin-left: $m3; margin-right: $m3; }
.my3 { margin-top: $m3; margin-bottom: $m3; }

.m4  { margin: $m4; }
.mt4 { margin-top: $m4; }
.mr4 { margin-right: $m4; }
.mb4 { margin-bottom: $m4; }
.ml4 { margin-left: $m4; }
.mx4 { margin-left: $m4; margin-right: $m4; }
.my4 { margin-top: $m4; margin-bottom: $m4; }

.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }
