// Padding
//
// These are the core padding sizes
// ----------------------------------------------------------------------

@import "../variables";
@import "../mixins";

// Padding Sizes
// -------------------------------------
.p0 { padding: $p0; }
.pt0 { padding-top: $p0; }
.pr0 { padding-right: $p0; }
.pb0 { padding-bottom: $p0; }
.pl0 { padding-left: $p0; }
.px0 { padding-left: $p0; padding-right: $p0; }
.py0 { padding-top: $p0; padding-bottom:$p0; }

.p1 { padding: $p1; }
.pt1 { padding-top: $p1; }
.pr1 { padding-right: $p1; }
.pb1 { padding-bottom: $p1; }
.pl1 { padding-left: $p1; }
.px1 { padding-left: $p1; padding-right: $p1; }
.py1 { padding-top: $p1; padding-bottom:$p1; }

.p2 { padding: $p2; }
.pt2 { padding-top: $p2; }
.pr2 { padding-right: $p2; }
.pb2 { padding-bottom: $p2; }
.pl2 { padding-left: $p2; }
.px2 { padding-left: $p2; padding-right: $p2; }
.py2 { padding-top: $p2; padding-bottom:$p2; }

.p3 { padding: $p3; }
.pt3 { padding-top: $p3; }
.pr3 { padding-right: $p3; }
.pb3 { padding-bottom: $p3; }
.pl3 { padding-left: $p3; }
.px3 { padding-left: $p3; padding-right: $p3; }
.py3 { padding-top: $p3; padding-bottom:$p3; }

.p4 { padding: $p4; }
.pt4 { padding-top: $p4; }
.pr4 { padding-right: $p4; }
.pb4 { padding-bottom: $p4; }
.pl4 { padding-left: $p4; }
.px4 { padding-left: $p4; padding-right: $p4; }
.py4 { padding-top: $p4; padding-bottom:$p4; }
