<section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="features-list">
        <% for(var i = 0; i < features.length; i++) {%>
        <div>
            <h4><%- features[i].name %></h4>
            <p><%- features[i].text %></p>
        </div>
        <% } %>
    </div>

    <div class="mdl-cell mdl-cell--12-col-desktop center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <a href="<%- CTA.url %>" class="mdl-typography--font-regular"><%- CTA.text %></a>
        </button>
    </div>
</section>