/* ==========  Theme Colors  ========== */
// Main theme colors
$primary-color: #2196F3; // This is your primary color theme
$secondary-color: #1976D2; // This is the darker shade within the same palette
$primary-light: #BBDEFB; // This is the lighest shade within the same palette
$primary-dark: #0D47A1; // This is the darkest shade within the same palette

$neutral-white: white; // This is a nutral color (white)
$neutral-black: black; // This is a nutral color (black)

// Main Variables
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$nav-transform: 3px;


/* ==========  Main Styles  ========== */
h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h5 {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 16px;
  margin-top: 24px;
  max-width: 300px;
}

/* ==========  Body Styles  ========== */
  .mdl-demo section.section--center {
    max-width: 920px;
  }

  .mdl-grid--no-spacing>.mdl-cell {
    width: 100%;
  }

/* ==========  Top Navigation  ========== */
  //TOP NAV
  .mdl-layout__header {
    background-color: $primary-color;
    box-shadow: $box-shadow;

    a {
      color: $neutral-white;
      text-decoration: none;
    }
  }

  .mdl-layout__header-row {
    $padding-left: 25px;

    padding: 0;
    padding-left: $padding-left;
  }

  //NAME
  .mdl-layout__title, .mdl-layout-title {
    $title-font-size: 16px;
    $title-line-height: 28px;

    font-size: $title-font-size;
    line-height: $title-line-height;
    letter-spacing: 0.02em;
  }

  .microsite-name {
    $name-font-size: 20px;
    $margin-right: 30px;
    $margin-left: 8px;

    display: inline-block;
    font-size: $name-font-size;
    margin-left: $margin-left;
    margin-right: $margin-right;
    text-transform: uppercase;
    transform: translateY($nav-transform);
  }

  //LINKS
  .mdl-navigation__link {
    $link-font-size: 16px;

    font-size: $link-font-size;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .top-nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    label {
      display: none;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }

  // MENU MOBILE
  /*
  This uses a CSS hack for now, but should be replaced with proper JS in the future.
  The way it currently works:
  - The `site menu` is a label that points to a hidden checkbox
  - The checkbox and the `:checked` pseudo-selector are used to target the open/closed states
  - This selector allows us to show/hide the navigation items based on click toggle
  TODO: Replace this with data-binding when Angular is included
  */

  @media (max-width: 800px) {
    .top-nav-wrapper {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      label {
      $padding: 16px;

        cursor: pointer;
        display: block;
        float: right;
        line-height: 56px;
        padding: 0 $padding;
      }

      nav {
        background: $secondary-color;
        clear: both;
        display: none;
        height: auto !important;

        a {
          display: block;
        }
      }

      .mdl-layout-spacer {
        display: none;
      }
    }

    input:checked + .top-nav-wrapper {
      label {
        background: $secondary-color;
      }

      nav {
        display: block;
      }
    }
  }

/* ==========  Hero Styles  ========== */
  //BACKGROUND
  .hero-background {
    $hero-margin: 60px;

    background: linear-gradient($secondary-color, $primary-color);
    color: #fff;
    margin-bottom: $hero-margin;
  }

  //IMAGE
  .hero-container {
    padding: 56px 0 56px 0 !important;
  }

  .logo-container {
    $logo-padding: 28px;

    overflow: hidden;
    padding-right: $logo-padding;
  }

  //NAME
  //TAGLINE
  //CTA BUTTON
  .mdl-button {
    $button-height: 45px;
    $button-line-height: $button-height;
    $button-width: 140px;
    $button-padding: 30px;

    height: $button-height;
    line-height: $button-line-height;
    min-width: $button-width;
    padding: 0 $button-padding;
  }

  .mdl-button--primary.mdl-button--primary.mdl-button--raised,
  .mdl-button--primary.mdl-button--primary.mdl-button--fab {
    background-color: $neutral-white;
    color: $primary-dark;
  }

/* ==========  Feature Styles  ========== */
  //CONTAINER
  .features-list {
    $features-margin: 23px;
    $features-padding: 15px;
    $features-padding-right: 200px;

    width: 920px;
    margin: 0 0 $features-margin 0;
    padding: $features-padding;
    padding-right: $features-padding-right;
  }

  //TITLE
  .features-list h4 {
    color: #37474F;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 10px;
    margin: 0 0 16px 0;
    opacity: .87;
  }

  //CONTENT
  .features-list p {
    font-size: 16px;
    line-height: 30px;
    opacity: .87;
  }

/* ==========  CTA Styles  ========== */

  //BOTTOM  CTA
  .button-container {
    $button-margin: 24px;

    margin-bottom: $button-margin !important;
    text-align: center;
  }

  .mdl-button--accent.mdl-button--accent.mdl-button--raised,
  .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: $primary-color;
    color: $neutral-white;
  }


/* ==========  Footer Styles  ========== */
  //CONTAINER

  .mdl-mega-footer--bottom-section .mdl-cell--9-col{
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .mdl-mega-footer--bottom-section,
  .mdl-mega-footer__bottom-section {
    padding-top: 0;
    background-color: #263238;
    color: white;
    bottom: 0;
    right: 0;
  }
  //LOGO

  //LINKS
  footer ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;

    a {
      padding: 0;
      font-size: 16px;
      opacity: .87;
      line-height: 28px;
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  //CC
  .mdl-mega-footer--bottom-section p {
    margin: 0;
    font-size: 12px;
    opacity: .54;
  }

  .power-text {
    text-align: right;
  }

  .mdl-mega-footer--bottom-section {

    & a {
      font-weight: normal;
      padding: 0;
      text-decoration: none;
      color: white;
    }
  }
