<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.ico" rel="shortcut icon" type="image/ico">
    <title>Angular Augury</title>

    <!-- Material Design icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

    <!-- Your styles -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body class="mdl-demo mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row top-nav">
          <span class="mdl-layout-title mdl-typography--font-light">
            <%- partial('_augury-logo') %>
          </span>

          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
<!--             <a class="mdl-navigation__link" href="">Link 1</a>
            <a class="mdl-navigation__link" href="">Link 2</a>
            <a class="mdl-navigation__link" href="">Link 3</a> -->
          </nav>

          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="https://chrome.google.com/webstore/detail/augury/elgalmkoelokbchhkhacckoklkejnhcd" title="Get Started - Angular Augury Chrome Web Store">Get Started</a>
          </nav>

        </div>
      </header>

      <main class="mdl-layout__content">

        <header class="hero-background">
          <div class="mdl-layout__header-row">
          </div>

          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
              <div class="main-image">
                <img src="images/augury.svg"
                  style="width: 180px;">
              </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h4 class="mt1">Angular Augury</h4>

                <h5 class="mt1 mb3 mr0 tagline">A Google Chrome Dev Tools extension for debugging Angular 2 applications.</h5>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                  <a href="https://chrome.google.com/webstore/detail/augury/elgalmkoelokbchhkhacckoklkejnhcd" class="mdl-typography--font-regular" title="Get Started - Angular Augury Chrome Web Store"> Get Started </a>
                </button>
            </div>
          </section>
          <div class="mdl-layout__header-row">
          </div>
        </header>

        <!-- Features -->
        <section class="section--center mdl-grid mdl-grid--no-spacing">

          <div class="features-list">
            <h4>Visual Interface</h4>
            <p>Helps Angular 2.0 developers visualize the application through component trees, and visual debugging tools.</p>
          </div>

          <!-- Animated Screenshot -->
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col-desktop  mdl-shadow--2dp center">
              <img style="width:100%; height:100%" src="images/augury-screenloop.gif">
            </div>
          </div>

          <div class="features-list">
            <h4>Open Source</h4>
            <p>Augury is an open source effort with Google and Rangle.io. You can contribute and fork the repo on <a href="https://github.com/rangle/augury" title="Angular Augury Github page">GitHub</a>.</p>
          </div>

          <div class="features-list">
            <h4>Intuitive</h4>
            <p>By keeping in mind the existing Google Developer Tools you already love and use it’s easy to get debugging.</p>
          </div>

          <div class="features-list">
            <h4>Latest Version Support</h4>
            <p>Augury supports the latest Angular version. With rapid changes Augury strives to keep up to date and relevant.</p>
          </div>

        <!-- CTA button -->
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col-desktop center">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              <a href="https://chrome.google.com/webstore/detail/augury/elgalmkoelokbchhkhacckoklkejnhcd" class="mdl-typography--font-regular" title="Get Started - Angular Augury Chrome Web Store"> Get Started </a>
            </button>
          </div>
        </div>
        </section>

        <footer class="mdl-mega-footer">
          <section class="mdl-grid mdl-grid--no-spacing">
              <div class="mdl-cell mdl-cell--3-col mdl-layout--large-screen-only mdl-typography--text-center">
                <svg width="110px" height="120px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
                  <style type="text/css">
                    .st0{fill:#FFFFFF;}
                    .st1{opacity:0.9;}
                  </style>
                  <g>
                    <g>
                      <polygon class="st0" points="125,153.4 100.3,153.4 88.6,182.6 88.6,182.6 66.9,182.6 66.8,182.6 125,52.1 125,52.2 125,52.2
                        125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,153.4    "/>
                      <polygon class="st0" points="108,135.4 125,135.4 125,135.4 125,94.5     "/>
                    </g>
                    <g class="st1">
                      <polygon class="st0" points="125,153.4 149.7,153.4 161.4,182.6 161.4,182.6 183.1,182.6 183.2,182.6 125,52.1 125,52.2 125,52.2
                        125,30 125,30 218.1,63.2 203.9,186.3 125,230 125,230 125,153.4    "/>
                      <polygon class="st0" points="142,135.4 125,135.4 125,135.4 125,94.5     "/>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h4>Resources</h4>
                <ul class="footer-links">
                  <li> <a class="" href="https://wwww.angular.io" Title="Learn Angular">Learn Angular</a> </li>
                </ul>
              </div>
              <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h4>Help</h4>
                <ul class="footer-links">
                  <li> <a class="" href="https://github.com/rangle/augury/issues" title="Angular Augury GitHub Issues">Report Issues</a> </li>
                </ul>
              </div>
              <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h4>Community</h4>
                <ul class="footer-links">
                  <li> <a class="" href="https://github.com/rangle/augury" title="Angular Augury GitHub">GitHub</a> </li>
                </ul>
              </div>
          </section>
        </footer>
        <footer>
          <div class="mdl-mega-footer--bottom-section">
            <p class="mdl-typography--font-light center"> Powered by Google ©2010-2016. Code licensed under an <a href="/license.html">MIT-style License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>
          </div>
        </footer>
      </main>
    </div>
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
